

.todo-container {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 8px 0 rgba(0, 0, 0, 0.5);
}